.dashBoardGrid {
  background-color: rgb(238, 238, 238);
  height: 90vh;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  gap: 1rem;
  display: grid;
  grid: 1fr 4fr 2fr/1fr 1fr 1fr 1fr 1fr 1fr;
}
.searchBar {
  grid-area: 1/2/2/5;
}
.marketCap,
.loaderMktCap {
  grid-area: 1/5/4/7;
}
.exchange {
  grid-area: 3/3/4/5;
}
.portfolio {
  grid-area: 3/1/4/3;
}
