.heading-font {
  font-family: var(--lobster);
}
.text-font {
  font-family: var(--dancingScript);
}

/* Coin page css styling  */

.coinPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;

  color: grey;
}
.coinPage > h1 {
  font-family: var(--protestGorella);
  text-decoration: underline;
}
.coinPage > img {
  transition: transform 1s ease-in-out;
}
.coinPage > img:hover {
  transform: rotateX(20deg);
  transform: rotateX(-20deg);
  cursor: pointer;
}
.coinPage > h3 {
  font-family: var(--protestGorella);
  font-size: 1.4rem;
}
.coinPage > a {
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 1rem;
  color: rgb(39, 107, 184);
  font-family: var(--protestGorella);
  padding: 0.3rem;
}
.coinPage > a:hover {
  text-decoration: underline;
}
.errorSearch {
  /* border: 1px solid; */
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  gap: 1.3rem;
  font-family: var(--overpass);
}
.errorSearch > a {
  text-decoration: none;
  color: rgb(39, 107, 184);
  font-family: var(--teko);
  font-size: 1.2rem;
  text-decoration: underline;
}
