.mainDropDown {
  /* background-color: aliceblue;
  border: 1px solid slateblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#currencySelector {
  min-width: 8rem;
  min-height: 3rem;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
