.mainGraph {
  background-color: white;
  border-radius: 1.6rem;
}
.dayBtns,
.graphTypeAndCrypto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.dayBtns > button {
  width: 2rem;
  margin: 0.2rem;
  padding: 0.3rem;
  cursor: pointer;
  font-family: var(--teko);
  border: none;
  /* font-weight: bold; */
  font-size: 1.2rem;
  border-radius: 0.2rem;
}
.active {
  color: darkblue;
  background-color: rgb(154, 200, 205);
}
.btnAndDropdowns {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.graphTypeAndCrypto > select {
  cursor: pointer;
  border-radius: 0.3rem;
  width: 5rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.7;
  text-align: center;
}
