.portfolio {
  background-color: white;
  border-radius: 1.6rem;
}
.portfolio > h2 {
  font-family: var(--lobster);
  font-weight: bold;
  text-align: center;
}
.pieChartPortfolio {
  padding: 0.5rem;
}
.portPie {
  /* background-color: red; */
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.portPie > div > p {
  color: green;
  font-family: var(--overpass);
}
